:root{
    --color-primary: #1828b8;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #1e1e1f;
    --color-info-light: #939fb6;
    --color-dark: #363949;
    --color-light: rgba(61, 109, 176, 0.18);
    --color-light-2: rgba(52, 58, 116, 0.20);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f0f0f0;
  
    --light: #f9f9f9;
    --blue: #3c91e6;
    --light-blue: #a9d5ff;
    --light-red: #f38c8c;
    --light-green: #a7f9d0;
    --grey: #eee;
    --dark-grey: #aaaaaa;
    --drak: #342e37;
    --red:  #e88383;
    --green: rgb(94, 232, 129);
    --color-info-dark: #919497;
  
    --color-border-radius: 2rem;
    --color-border-radius-1: 0.4rem;
    --color-border-radius-2: 0.8rem;
    --color-border-radius-3: 1.2rem;
  
  
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
  
    --box-shadow: 0 2rem 3rem var(--color-light);
}
  
*{
    margin: 0;
    padding: 0;
    outline: none;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
  
html{
    font-size: 14px;
}
  
.mainDashboardContainer{
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}
  
/* ===== SIDEBAR DESIGN ===== */
.sidebarContainer {
position: fixed;
display: flex;
flex-direction: column;
bottom: 0;
top: 0;
background-color: rgb(255, 255, 255);
width: 275px;
transition: all 0.3s;
}

.DagdagNanaman {
flex: 1; /* Allow the div to grow and fill available space */
overflow-y: auto; /* Enable vertical scrolling */
/* background-color: gray; */
scrollbar-width: thin; /* For Firefox */
}

.DagdagNanaman span{
  font-size: 14.5px;
  font-weight: 500;
}

.DagdagNanaman .sideside{
  display: flex;
  color: var(--color-info-dark);
  padding-left: 25px;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.6rem;
  transition: all 300ms ease;
}

.DagdagNanaman .sideside .img-sideboard{
  font-size: 1.6rem;
  transition: all 300ms ease;
}

.DagdagNanaman .sideside:last-child{
  bottom: 1px;
}

/* Active state for sidebar items */
.sideside.baractive {
  background: var(--color-light);
  color: var(--color-primary);
}

.sideside.baractive::before{
  content: '';
  width: 4px;
  height: 100%;
  background: var(--color-primary);
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 2px;
}

.DagdagNanaman .sideside.baractive .img-sideboard{
  margin-left: calc(1rem -3rem);
}

.DagdagNanaman .sideside:hover{
  color: var(--color-primary);
}

.DagdagNanaman .sideside:hover .img-sideboard{
  margin-left: 1rem;
}

/* SIDEBAR ACTIVE */
.sidebarActive {
  transform: translateX(250px); 
}

/* .MonthlyDuessContainerr.MonthlyDuessConActivee {
  margin-left: 5px;
} */

/* ===== SIDEBAR IMAGE SIZE ===== */
.img-sideboard{
  width: 20px;
}

/* ===== SIDEBAR DESIGN ===== */
.sidebarContainer {
position: fixed;
display: flex;
flex-direction: column;
bottom: 0;
top: 0;
background-color: rgb(255, 255, 255);
width: 275px;
transition: all 0.3s;
}

.DagdagNanaman {
flex: 1; /* Allow the div to grow and fill available space */
overflow-y: auto; /* Enable vertical scrolling */
/* background-color: gray; */
scrollbar-width: thin; /* For Firefox */
}

.DagdagNanaman span{
  font-size: 14.5px;
  font-weight: 500;
}

.DagdagNanaman .sideside{
  display: flex;
  color: var(--color-info-dark);
  padding-left: 25px;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.6rem;
  transition: all 300ms ease;
}

.DagdagNanaman .sideside .img-sideboard{
  font-size: 1.6rem;
  transition: all 300ms ease;
}

.DagdagNanaman .sideside:last-child{
  bottom: 1px;
}

/* Active state for sidebar items */
.sideside.baractive {
  background: var(--color-light);
  color: var(--color-primary);
}

.sideside.baractive::before{
  content: '';
  width: 4px;
  height: 100%;
  background: var(--color-primary);
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 2px;
}

.DagdagNanaman .sideside.baractive .img-sideboard{
  margin-left: calc(1rem -3rem);
}

.DagdagNanaman .sideside:hover{
  color: var(--color-primary);
}

.DagdagNanaman .sideside:hover .img-sideboard{
  margin-left: 1rem;
}

/* SIDEBAR ACTIVE */
.sidebarActive {
  transform: translateX(250px); 
}

/* .MonthlyDuessContainerr.MonthlyDuessConActivee {
  margin-left: 5px;
} */

/* ===== SIDEBAR IMAGE SIZE ===== */
.img-sideboard{
  width: 20px;
}

/* ========== SUB MENU SIDEBAR ========== */
.subMenuComp,
.subMenuDocs {
  display: none;
  margin-left: 35px;
  transition: all 0.3s;
}

.CompSubMenuVisible {
  display: block;
}

.DocsSubmenuVisible {
  display: block;
}

.subMenuDocs li a, .subMenuComp li a {
  position: relative;
  display: flex;
  color: var(--color-info-dark);
  padding: 10px;
  position: relative;
  transition: all 300ms ease;
}

.subMenuDocs li a.baractive,
.subMenuComp li a.baractive {
  background: var(--color-light);
  color: var(--color-primary);
}

.subMenuDocs li a.baractive::before,
.subMenuComp li a.baractive::before {
  content: '';
  width: 4px;
  height: 100%;
  background: var(--color-primary);
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 2px;
}

/* Hover effect for submenu item icons */
.subMenuComp li a:hover .img-subMenu,
.subMenuDocs li a:hover .img-subMenu {
  margin-left: 1rem;
}

.subMenuComp li a .img-subMenu,
.subMenuDocs li a .img-subMenu {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

.eme2, .eme3 {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #aeaeae;
  transition: 0.3s;
}

.buttonEme2, .buttonEme3 {
  padding: 10px 15px;
  margin-left: 5px;
  cursor: pointer;
}

.eme2-rotate, .eme3-rotate {
  transform: rotate(180deg);
}

/* Submenu image and label */
.img-subMenu {
  width: 20px;
  margin-right: 5px;
}

.sub-spa {
  margin-top: 5px;
}
  
/* ========== MAIN DASHBOARD DESIGN ========== */
.MainBodyContainerr {
  padding-left: 275px;
  display: flex; 
  flex-direction: column; 
  height: 100vh; 
}

.MainContainerForTables {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
  overflow: hidden; 
}

.EachContainerAnnounce{
  display: flex;
  flex-direction: column; /* Stack children vertically */
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid rgb(179, 172, 172);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  flex: 1; /* Allow it to grow and take available space */
}
  
  /* DESIGN PARA TO SA HEADER NG SIDEBAR AT SA MAIN */
  .headerTop{
    align-items: center;
    text-align: center;
    background: rgb(229, 229, 229);
    height: 160px;
    width: 100%;
    padding-top: 10px;
    box-shadow: 0 8px 8px -10px #888888;
  }
  
  .img-logo{
    width: 100px;
  }
  
  .headerTopMain{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 20px;
    top: 0;
    box-shadow: 5px 10px 18px #888888;
    box-shadow: 0 8px 8px -10px black;
    z-index: 1;
  }
  
  .HamburgerandOthers{
    display: flex;
    align-items: center;
  }
  
  .namePerModule{
    padding-left: 20px;
  }
  
  .menu{
    width: 25px;
    cursor: pointer;
  }
  
  .ProfileViewww{
    display: flex;
    align-items: center;
  }
  
  .user-img{
    width: 30px;
    height: 30px;
    background: rgb(0, 0, 0);
    border-radius: 20px;
  }
  
  .profileBtn{
    padding: 5px 20px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .profileBtn label{
    cursor: pointer;
  }
  
  /* ===== PROFILE MODAL DESIGN ===== */
  .modal{
    display: none;
  }
  
  .subModal{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    display: flex;
    background: var(--color-background);
    width: 800px;
    height: 500px; /* Set the desired height */
    overflow: hidden; /* Hide overflow */
    border-radius: 10px;
  }
  
  .profileSidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    width: 150px;
    height: 100%;
    border-radius: 10px;
  }
  
  .profileSidebar a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    margin-bottom: 5px;
    /* background: rgb(192, 184, 184); */
    color: var(--color-info-dark);
  }
  
  .profileSidebar a:hover{
    color: var(--color-primary);
  }
  
  .profilePages{
    width: 100%;
    margin-left: 10px;
  }
  
  .closeProf{
    display: flex;
    justify-content: end;
    margin-right: 5px;
    color: #000000;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Hide all pages initially */
  .page {
    display: none;
  }
  
  /* Show active page */
  .activeProfModal{
    display: block;
  }
  
  /* ===== CHANGING PASSWORD ===== */
  .changingPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .changingInputBox{
    width: 100%;
    margin-bottom: 50px;
  }
  
  .changingInputBoxLast{
    width: 100%;
  }
  
  .changingInputBox .inputngChanging,
  .changingInputBoxLast .inputngChanging{
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(62, 65, 71, 0.4);
  }
  
  .changingInputBox .inputngChanging:focus,
  .changingInputBoxLast .inputngChanging:focus{
    border-color: var(--color-primary);
  }
  
  .changingForgotPass {
    display: flex;
    justify-content: end;
    margin-top: 15px;
    font-size: 17.5px;
    width: 100%;
  }
  
  .forgotpassAs{
    color: var(--color-primary);
  }
  
  .forgotpassAs:hover{
    text-decoration: underline;
  }
  
  .paragChange{
    margin-top: 10px;
  }
  
  .buttonSapagPalit{
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    background: var(--color-primary);
    color: white;
    font-size: 17.5px;
    cursor: pointer;
  }

/* DESIGN PARA SA ANNOUNCEMENT NAVIGATION */
.AnnounceNav {
  margin: 10px 10px 0px 10px;
  font-size: 0; /* Removes any unwanted spacing around inline-block elements */
  display: flex; /* Use flexbox to distribute space evenly */
  gap: 10px; /* Adds a gap between the anchor tags */
  margin-top: 15px;
}

.AnnounceNav a {
  flex: 1; /* Each anchor tag takes up equal space */
  padding: 5px 20px;
  background-color: #dfdfdf;
  color: black;
  text-decoration: none;
  font-size: 16px; /* Reset font-size for anchor tags */
  text-align: center; /* Centers the text inside the anchor tags */
}

.AnnounceNav a.NavActive {
  background: #c7b216; /* Change the background color when active */
  color: white; /* Optional: Change text color when active */
}

.AnnounceNav a:hover {
  background: #c7b216;
  color: white;
}

.ConNavHidden {
  display: none;
}

/* DESIGN FOR DROPDOWN */
.AnnHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.AnnItemCon,
.searchTablee{
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0 7px;
}

.ArrowandPlace{
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 70px;
  user-select: none;
  z-index: 1;
}

.options {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  top: 100%;
  left: 0;
  width: 70px;
  z-index: 1;
}

.option {
  text-align: center;
  padding: 8px;
  cursor: pointer;
  border-top: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.open .options {
  display: block;
}

.inputSearchhh{
  padding: 5px;
  font-size: 16px;
  width: 300px;
  margin-left: 5px;
}