:root{
  --color-primary: #1828b8;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #1e1e1f;
  --color-info-light: #939fb6;
  --color-dark: #363949;
  --color-light: rgba(61, 109, 176, 0.18);
  --color-light-2: rgba(52, 58, 116, 0.20);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #a9d5ff;
  --light-red: #f38c8c;
  --light-green: #a7f9d0;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --drak: #342e37;
  --red:  #e88383;
  --green: rgb(94, 232, 129);
  --color-info-dark: #919497;

  --color-border-radius: 2rem;
  --color-border-radius-1: 0.4rem;
  --color-border-radius-2: 0.8rem;
  --color-border-radius-3: 1.2rem;


  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html{
  font-size: 14px;
}

.mainDashboardContainer{
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}

/* ===== HEADER DESIGN ===== */
.headerTop{
  height: 50px;
  /* background: rgb(255, 255, 255); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 5px;
  left: 5px;
  right: 5px;
  z-index: 1;
}

.leftSection{
  background-color: rgb(255, 255, 255);
  width: 250px ;
  display: flex;
  align-items: center;
  padding-left: 20px;
  /* border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(161, 161, 161); */
}

.rightSection{
  background-color: transparent;
  width: 250px ;
  display: flex;
  align-items: center;
  justify-content: end;
}

.headerTop h2{
  margin-left: 15px;
}

/* ===== HEADER IMAGE SIZE ===== */ 
.profileBtn{
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 10px;
  cursor: pointer;
}

.profileBtn label{
  cursor: pointer;
}

.menu{
  width: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.user-img{
  width: 30px;
  height: 30px;
  background: rgb(0, 0, 0);
  border-radius: 20px;
}

/*.eme3{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000000;
  transition: 0.3s;
  margin-left: 10px;
  margin-right: 10px;
} */

.img-logo{
  width: 3.5rem;
  height: 3.5rem;
}

/* ===== PROFILE MODAL DESIGN ===== */
.modal{
  display: none;
}

.subModal{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: Arial, sans-serif;
}

.modal-content {
  display: flex;
  background: var(--color-background);
  width: 800px;
  height: 500px; /* Set the desired height */
  overflow: hidden; /* Hide overflow */
  border-radius: 10px;
}

.profileSidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  width: 175px;
  height: 100%;
  border-radius: 10px;
}

.profileSidebar a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4rem;
  margin-bottom: 5px;
  /* background: rgb(192, 184, 184); */
  color: var(--color-info-dark);
}

.profileSidebar a:hover{
  color: var(--color-primary);
}

.profilePages{
  width: 100%;
  height: 100%;
  margin-left: 10px;
}

.closeProf{
  display: flex;
  justify-content: end;
  margin-right: 5px;
  color: #000000;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* Hide all pages initially */
.page {
  display: none;
  height: calc(100% - 35px);
}

/* Show active page */
.activeProfModal{
  display: block;
}

/* ===== CHANGING PASSWORD ===== */
.changingPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.changingInputBox{
  width: 100%;
  margin-bottom: 50px;
}

.changingInputBoxLast{
  width: 100%;
}

.changingInputBox .inputngChanging,
.changingInputBoxLast .inputngChanging{
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid rgba(62, 65, 71, 0.4);
}

.changingInputBox .inputngChanging:focus,
.changingInputBoxLast .inputngChanging:focus{
  border-color: var(--color-primary);
}

.changingForgotPass {
  display: flex;
  justify-content: end;
  margin-top: 15px;
  font-size: 17.5px;
  width: 100%;
}

.forgotpassAs{
  color: var(--color-primary);
}

.forgotpassAs:hover{
  text-decoration: underline;
}

.paragChange{
  margin-top: 10px;
}

.buttonSapagPalit{
  margin-top: 10px;
  width: 100%;
  padding: 15px;
  background: var(--color-primary);
  color: white;
  font-size: 17.5px;
  cursor: pointer;
}

/* ===== SIDEBAR DESIGN ===== */
.sidebarContainer{
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 5px;
  bottom: 5px;
  top: 55px;
  background-color:  rgb(255, 255, 255);
  width: 250px;
  margin-top: 7px;
  transition: all 0.3s;
  z-index: 1;
}

.sidebarContainer span{
  font-size: 14.5px;
  font-weight: 500;
}

.sidebarContainer .sideside{
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 4rem;
  transition: all 300ms ease;
}

.sidebarContainer .sideside .img-sideboard{
  font-size: 1.6rem;
  transition: all 300ms ease;
}

.sidebarContainer .sideside:last-child{
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

.sidebarContainer .sideside.active{
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 5px;
}

.sidebarContainer .sideside.active::before{
  content: '';
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}

.sidebarContainer .sideside.active .img-sideboard{
  margin-left: calc(1rem -3rem);
}

.sidebarContainer .sideside:hover{
  color: var(--color-primary);
}

.sidebarContainer .sideside:hover .img-sideboard{
  margin-left: 1rem;
}

/* ===== SIDEBAR IMAGE SIZE ===== */
.img-sideboard{
  width: 30px;
}

/* ========== SIDEBAR ACTIVE ========== */
.sidebarContainer.sideActive{
  width: 110px;
}

.sidebarContainer.sideActive .eme2 {
  display: none;
}

.sidebarContainer.sideActive .subMenuComp{
  margin-left: 0;
}

.sidebarContainer.sideActive span{
  display: none;
}

.MonthlyDuessContainerr.MonthlyDuessConActivee{
  margin-left: 130px;
}

/* ========== SUB MENU SIDEBAR ========== */
.subMenuComp{
  display: none;
  margin-left: 35px;
  transition: all 0.3s;
}

.submenu-visible {
  display: block; 
}

.subMenuComp li a{
  position: relative;
  display: flex;
  color: var(--color-info-dark);
  padding: 10px;
  position: relative;
  transition: all 300ms ease;
}

.eme2{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #aeaeae;
  transition: 0.3s;
  margin-left: 40px;
}

.eme2-rotate{
  transform: rotate(180deg);
}

.subMenuComp li a.active{
  background: var(--color-light);
  color: var(--color-primary);
  height: 100%;
  margin-left: 5px;
}

.sidebarContainer li a:hover{
  color: var(--color-primary);
  margin-left: 1rem;
}

.subMenuComp li a.active::before {
  content: '';
  width: 4px;
  height: 100%;
  background: var(--color-primary);
  position: absolute;
  left: 0;
  top: 0;
}

/* ===== SUB MENU CHAT IMAGE ==== */
.img-subMenu{
  width: 20px;
  margin-right: 5px;
}

.sub-spa{
  margin-top: 5px;
}

/* ========== MAIN DASHBOARD DESIGN ========== */
.MonthlyDuessContainerr{
  margin-left: 265px;
  margin-top: 65px;
}


/* DESIGN FOR MONTHLY DUES TABLE */

.MonthSearchContainer{
  display: flex;
  justify-content: end;
  padding-right: 15px;
  margin-bottom: 6px;
}

.MonthSearchInputDes{
  height:  30px;
  padding: 0.5em;
  width: 250px;
  box-sizing: border-box;
  border: 1px solid var(--color-light-2);
  border-radius: var(--color-border-radius-1);
}

.MonthSearchInputDes:focus{
  border-color: var(--color-primary);
}

.MonthTb-btn{
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background: #caf2ff;
}

.MonthluDueableContent{
  width: 100%;
  padding-top: 5px;
  padding-right: 15px;
}

table{
  width: 100%;
  border-collapse: collapse;
}

thead{
  background: var(--color-primary);
  color: white;
}

th{
  padding: 10px;
  border: 1px solid rgb(179, 172, 172); /* Outline partition */
}

td{
  padding: 5px;
  border: 1px solid rgb(179, 172, 172); /* Outline partition */
}

tbody{
  background: var(--color-white);
  text-align: center;
}

td{
  color: #000000;
}

/* MODAL PARA SA PAG SET NG PAYMENT */
.ModalForPayments{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.SubModalSchedPay{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.PayingModalContainer{
  background-color: white;
  width: 950px;
  height: 470px;
  border-radius: 5px;
  padding: 15px;
}

.closeMonth{
  display: flex;
  justify-content: end;
  color: #000000;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.PayingMonthlyContainer{
  display: flex;
}

.ContentsSaMonthly,
.TableParaSaUserPaid{
  width: 50%;
}

/* SETTING DATES */
.DatesForPaying{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.DueDatePay,
.OverDuePay{
  display: flex;
  flex-direction: column;
}

.LabelDates{
  font-size: 18px;
  font-weight: bold;
}

.InputDates{
  font-size: 15px;
  padding: 15px;
}

.InputAm{
  width: 100%;
  padding: 15px;
  font-size: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(204, 204, 204);
}

.InputAm:focus{
  border: 1px solid rgb(0, 28, 140);
}

.LabelSend{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.SendButtonToUser{
  display: flex;
  justify-content: end;
}

.SBtnMont{
  padding: 12px 40px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* DESIGN FOR PAYMENTS MODAL TABLE */
.TableParaSaUserPaid{
  height: 375px;
}

.subTablePaid{
  height: 100%;
  overflow-y: auto;
  margin-left: 10px;
}

.TbPaid{
  padding: 5px 15px;
  border-radius: 2px;
  cursor: pointer;
}

/*DESIGN FOR SECOND MODAL*/
.ModalForConfirming {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.subModalConfirming {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ViewingOfPaidUser {
  background-color: white;
  width: 450px;
  max-height: 570px; /* Change height to auto */
  border-radius: 5px;
  padding: 15px;
  position: relative; /* Add relative positioning */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack child elements vertically */
  overflow-y: auto;
}

.BottomRef {
  display: flex;
  justify-content: space-between; /* Add space between the two elements */
  margin-top: auto; /* Push to the bottom */
  width: 100%; /* Take full width */
}

.closeMonthTwo {
  display: flex;
  justify-content: flex-end; /* Align the close button to the right */
  color: #000000;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.AmountPay {
  display: flex;
  flex-direction: column;
}

.RefNo {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.buttonP {
  display: flex;
  justify-content: flex-end; /* Align to the right */
  width: 100%;
}

.btnPaid {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
}

.LabelNames {
  font-size: 18px;
  font-weight: bold;
}

.int {
  padding: 5px;
  font-size: 20px;
  border: 1px solid rgb(204, 204, 204);;
}

.int:focus{
  border: 1px solid rgb(0, 28, 140);
}

.InputPayFromUser {
  margin-bottom: 15px;
  margin-top: 5px;
}

.PictureUpl {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.PictureUpl img {
  max-width: 100%;
  height: auto;
}

/* Design ng status sa monthlydue */
.status-delinquent {
  color: red; /* Font color for delinquent status */
  font-weight: bold; /* Make the text bold */
}

.status-good-standing {
  color: darkgreen; /* Font color for good standing status */
  font-weight: bold; /* Make the text bold */
}
