:root{
  --color-primary: #1828b8;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #1e1e1f;
  --color-info-light: #939fb6;
  --color-dark: #363949;
  --color-light: rgba(61, 109, 176, 0.18);
  --color-light-2: rgba(52, 58, 116, 0.20);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #a9d5ff;
  --light-red: #f38c8c;
  --light-green: #a7f9d0;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --drak: #342e37;
  --red:  #e88383;
  --green: rgb(94, 232, 129);
  --color-info-dark: #919497;

  --color-border-radius: 2rem;
  --color-border-radius-1: 0.4rem;
  --color-border-radius-2: 0.8rem;
  --color-border-radius-3: 1.2rem;


  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html{
  font-size: 14px;
}

.mainDashboardContainer{
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}

/* ===== HEADER DESIGN ===== */
.headerTop{
  height: 50px;
  /* background: rgb(255, 255, 255); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 5px;
  left: 5px;
  right: 5px;
}

.leftSection{
  background-color: rgb(255, 255, 255);
  width: 250px ;
  display: flex;
  align-items: center;
  padding-left: 20px;
  /* border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(161, 161, 161); */
}

.rightSection{
  background-color: transparent;
  width: 250px ;
  display: flex;
  align-items: center;
  justify-content: end;
}

.headerTop h2{
  margin-left: 15px;
}

/* ===== HEADER IMAGE SIZE ===== */ 
.profileBtn{
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 10px;
  cursor: pointer;
}

.profileBtn label{
  cursor: pointer;
}

.menu{
  width: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.user-img{
  width: 30px;
  height: 30px;
  background: rgb(0, 0, 0);
  border-radius: 20px;
}

/*.eme3{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000000;
  transition: 0.3s;
  margin-left: 10px;
  margin-right: 10px;
} */

.img-logo{
  width: 3.5rem;
  height: 3.5rem;
}

/* ===== SIDEBAR DESIGN ===== */
.sidebarContainer{
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 5px;
  bottom: 5px;
  top: 55px;
  background-color:  rgb(255, 255, 255);
  width: 250px;
  margin-top: 7px;
  transition: all 0.3s;
  z-index: 1;
}

.sidebarContainer span{
  font-size: 14.5px;
  font-weight: 500;
}

.sidebarContainer .sideside{
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 4rem;
  transition: all 300ms ease;
}

.sidebarContainer .sideside .img-sideboard{
  font-size: 1.6rem;
  transition: all 300ms ease;
}

.sidebarContainer .sideside:last-child{
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

.sidebarContainer .sideside.active{
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 5px;
}

.sidebarContainer .sideside.active::before{
  content: '';
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}

.sidebarContainer .sideside.active .img-sideboard{
  margin-left: calc(1rem -3rem);
}

.sidebarContainer .sideside:hover{
  color: var(--color-primary);
}

.sidebarContainer .sideside:hover .img-sideboard{
  margin-left: 1rem;
}

/* ===== SIDEBAR IMAGE SIZE ===== */
.img-sideboard{
  width: 30px;
}

/* ========== MAIN DASHBOARD DESIGN ========== */
.UserSidehContainerr{
  margin-left: 265px;
  padding-top: 65px;
  /*height: 100vh;
  width: 100vw;*/
}

.RquestingContainer{
  display: flex;
}

.RequestingDocuCon{
  display: grid;
  width: 100%;
  padding-left: var(--card-padding);
  padding-right: var(--card-padding);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.ContainersNgRequestForms{
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--color-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  height: 150px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 10px;
}

.ContainersNgRequestForms:hover{
  box-shadow: none;
}

/* .eachConReqForm{   /* PAG REDANDUNT TSAKA NALANG ETO ANG GAGAMITIN 
  display: flex; 
  justify-content: center;
}


.RequestingDocuCon{
  height: 450px;
  width: 800px;
  background: white;
  margin-top: 10px;
} */

.ModalForEachReqForm{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.SubModalForEachReqForm{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nasaLoobNgModalReq{
  background-color: white;
  width: 700px;
  height: 320px;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.ReqNamecloseContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.ReqCertClose{
  color: #000000;
  font-size: 28px;
  cursor: pointer;
}

.hrRequest{
  width: 100%;
  background: rgb(167, 167, 167);
  padding: 0.4px;
  margin-bottom: 20px;
}

.rowNgBlkLot{
  display: flex;
  gap: 20px;
}

.labelReq{
  font-size: 18px;
}

.inputReq{
  width: 100%;
  border: 1px solid #ccc; /* Add border style */
  padding: 15px; /* Add padding for better appearance */
  border-radius: 4px; /* Optionally add border radius */
  font-size: 18px;
  margin-bottom: 20px;
}

.buttonsInRequest{
  display: flex;
  justify-content: flex-end;
}

.buttonsInRequest button{
  margin-left: 10px;
}

.buttonsInRequest .RBtn{
  padding: 13Px 30px;
  font-size: 15px;
  color: white;
  background: var(--color-primary);
  cursor: pointer;
  border-radius: 5px;
}

.eachConReqForm,
.TableParaSaReq{
  width: 50%;
}

.tableContainerTopp{
  width: 100%;
}

.searchContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  margin-bottom: 6px;
}

.searchInputDes{
  height:  30px;
  padding: 0.5em;
  width: 250px;
  box-sizing: border-box;
  border: 1px solid var(--color-light-2);
  border-radius: var(--color-border-radius-1);
}

.searchInputDes:focus{
  border-color: var(--color-primary);
}

.tb-btn{
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background: #caf2ff;
}

.tableContent{
  width: 100%;
  padding-top: 5px;
  padding-right: 15px;
}

table{
  width: 100%;
  border-collapse: collapse;
}

thead{
  background: var(--color-primary);
  color: white;
}

th{
  padding: 10px;
  border: 1px solid rgb(179, 172, 172); /* Outline partition */
}

td{
  padding: 5px;
  border: 1px solid rgb(179, 172, 172); /* Outline partition */
}

tbody{
  background: var(--color-white);
  text-align: center;
}

td{
  color: #000000;
}