:root{
  --color-primary: #1828b8;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #1e1e1f;
  --color-info-light: #939fb6;
  --color-dark: #363949;
  --color-light: rgba(61, 109, 176, 0.18);
  --color-light-2: rgba(52, 58, 116, 0.20);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #a9d5ff;
  --light-red: #f38c8c;
  --light-green: #a7f9d0;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --drak: #342e37;
  --red:  #e88383;
  --green: rgb(94, 232, 129);
  --color-info-dark: #919497;

  --color-border-radius: 2rem;
  --color-border-radius-1: 0.4rem;
  --color-border-radius-2: 0.8rem;
  --color-border-radius-3: 1.2rem;


  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html{
  font-size: 14px;
}

.mainDashboardContainer{
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}

/* ===== HEADER DESIGN ===== */
.headerTop{
  height: 50px;
  /* background: rgb(255, 255, 255); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 5px;
  left: 5px;
  right: 5px;
}

.leftSection{
  background-color: rgb(255, 255, 255);
  width: 250px ;
  display: flex;
  align-items: center;
  padding-left: 20px;
  /* border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(161, 161, 161); */
}

.rightSection{
  background-color: transparent;
  width: 250px ;
  display: flex;
  align-items: center;
  justify-content: end;
}

.headerTop h2{
  margin-left: 15px;
}

/* ===== HEADER IMAGE SIZE ===== */ 
.profileBtn{
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 10px;
  cursor: pointer;
}

.profileBtn label{
  cursor: pointer;
}

.menu{
  width: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.user-img{
  width: 30px;
  height: 30px;
  background: rgb(0, 0, 0);
  border-radius: 20px;
}

/*.eme3{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000000;
  transition: 0.3s;
  margin-left: 10px;
  margin-right: 10px;
} */

.img-logo{
  width: 3.5rem;
  height: 3.5rem;
}

/* ===== SIDEBAR DESIGN ===== */
.sidebarContainer{
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 5px;
  bottom: 5px;
  top: 55px;
  background-color:  rgb(255, 255, 255);
  width: 250px;
  margin-top: 7px;
  transition: all 0.3s;
  z-index: 1;
}

.sidebarContainer span{
  font-size: 14.5px;
  font-weight: 500;
}

.sidebarContainer .sideside{
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 4rem;
  transition: all 300ms ease;
}

.sidebarContainer .sideside .img-sideboard{
  font-size: 1.6rem;
  transition: all 300ms ease;
}

.sidebarContainer .sideside:last-child{
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

.sidebarContainer .sideside.active{
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 5px;
}

.sidebarContainer .sideside.active::before{
  content: '';
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}

.sidebarContainer .sideside.active .img-sideboard{
  margin-left: calc(1rem -3rem);
}

.sidebarContainer .sideside:hover{
  color: var(--color-primary);
}

.sidebarContainer .sideside:hover .img-sideboard{
  margin-left: 1rem;
}

/* ===== SIDEBAR IMAGE SIZE ===== */
.img-sideboard{
  width: 30px;
}

/* ========== MAIN DASHBOARD DESIGN ========== */
.UserSidehContainerr{
  margin-left: 265px;
  padding-top: 65px;
}

/* DESIGN FOR PAYMENTS */
.MonthluDueNav{
  background-color: #000c5a;
  overflow: hidden;
  margin-right: 5px;
}

.MonthluDueNav a{
  float: left;
  display: block;
  color: white;
  font-size: large;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.MonthluDueNav a:hover{
  background-color: #ddd;
  color: black;
}

.EachContentsMonth{
  display: none;
  height: 590px;
  /* background: rgb(173, 140, 140); */
  background: rgb(233, 233, 233);
  margin-right: 5px;
}

table{
  width: 100%;
  border-collapse: collapse;
}

thead{
  background: var(--color-primary);
  color: white;
}

th{
  padding: 10px;
  border: 1px solid rgb(179, 172, 172); /* Outline partition */
}

td{
  padding: 15px;
  border: 1px solid rgb(179, 172, 172); /* Outline partition */
}

tbody{
  background: var(--color-white);
  text-align: center;
}

td{
  color: #000000;
}

.PaymentandTableCon {
  display: grid;
  grid-template-columns: 1fr .7fr; /* Two columns, each taking up 50% of the width */
}

.MonthlyDueableInUser {
  height: 588px;
  overflow-y: auto;
  /*padding: 10px;*/
  margin-top: 2px;
}

/* DESIGN FOR PAYMENTS */
.PaymentContainerrr{
  padding: 0px 10px 0px 10px;
  margin-top: 2px;
}

.SubPaymentConss{
  background: rgb(221, 221, 221);
  border-radius: 5px 5px 0px 0px;
  max-height: 584px;
  padding: 20px;
  overflow-y: auto;
}

.intUser{
  width: 100%;
  margin: 10px;
  padding: 5px;
  font-size: 25px;
}

.intUserrPic{
  width: 100%;
  margin: 10px;
}

.totalInputUser,
.PayyInputUser,
.ProofPicture{
  margin: 10px;
}

.LabelUserPay{
  font-size: 16px;
  font-weight: bold;
}

.ButtonProcess{
  width: 100%;
  display: flex;
  justify-content: end;
}

.ProcessBtn{
  padding: 10px 20px;
  cursor: pointer;
}

.PictureUploadedByUser{
  border: 1px solid black;
}